[workspace]
resolver = "2"
members = ["admin_sep", "admin", "admin_v2"]

[workspace.dependencies]
soroban-sdk = { git = "https://github.com/ahalabs/rs-soroban-sdk", rev = "5a99659f1483c926ff87ea45f8823b8c00dc4cbd" }

[profile.contracts]
inherits = "release"
opt-level = "z"
overflow-checks = true
debug = 0
strip = "symbols"
debug-assertions = true
panic = "abort"
codegen-units = 1
lto = true


[profile.release-with-logs]
inherits = "release"
debug-assertions = true
